.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 200px;
  grid-template-areas:
    ". . ."
    ". a ."
    ". b ."
    ". . .";
}

.altered-text-div {
  grid-area: a;
  align-self: center;
  justify-self: center;
  text-wrap: normal;
}

.textarea-container {
  grid-area: b;
  align-self: center;
  justify-self: center;
}

.textarea {
  font-size: 20px;
  border: 1px solid;
  border-radius: 5px;
  height: 48px;
  width: 15em;
}

.normal-text {
  font-family: "Times New Roman";
  font-size: 24px;
}

.altered-text {
  font-family: "SansSerif";
  font-size: 22px;
}
